$primary-color: blue;
$secondary-color: lightblue;
$background-color-primary: #dedede;
$background-color-secondary: #f7eaea;
$border-color: darkblue;
$border: 1px solid $border-color;
$left-side-width: 300px;
$top-bar-height: 30px;